/* Styles go here */

.solutionChooserContainer {
}

.loaderConainer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.wrLoader {
    display: inline-block;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.6s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chooseSolutionContainer {
    margin: auto;
    text-align: center;
}

.chooseSolutionSelect {
    margin: auto;
    width: 100%;
}

.chooseSolutionButton {
    width: 100%;
}

@media (min-width: 1200px) {
    .container, .container-fluid {
        max-width: 80%;
        margin: auto;
    }
}

.solutionMenu a, .solutionMenu a:hover, .solutionMenu a:active, .solutionMenu a:visited, .solutionMenu a:focus {
    text-decoration: none;
}

.solutionMenu a {
    color: black;
}

.solutionMenu a:hover, .solutionMenu a:active {
    color: #337ab7;
}

.solutionMenuItemActive {
    color: #337ab7;
}

.solutionMenuItemName {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.solutionContent {
}