.solutionChooserContainer {
    margin-bottom: 10px;
}

.chooseSolutionContainer {
    margin: auto;
    text-align: center;
}

.chooseSolutionSelect {
    margin: auto;
    width: 100%;
}

.chooseSolutionButton {
    width: 100%;
}

.solutionMenu a, .solutionMenu a:hover, .solutionMenu a:active, .solutionMenu a:visited, .solutionMenu a:focus {
    text-decoration: none;
}

.solutionMenu a {
    color: black;
}

.solutionMenu a:hover, .solutionMenu a:active {
    color: #337ab7;
}

.solutionMenuItemActive {
    color: #337ab7;
}

.solutionMenuItemName {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 18px;
}

.solutionContent {
    display: none;
}