<div id="deleteLogEntryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Usuń zaraportowany czas</h4>
            </div>
            <div class="modal-body">
                <p>
                    Czy na pewno chcesz usunąć zaraportowany czas pracy?
                </p>
            </div>
            <div class="modal-footer">
                <div class="modalButtonsContainer">
                    <button type="button" class="btn btn-default" ng-click="deleteLogEntry()">Tak</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
                </div>
            </div>
        </div>
    </div>
</div>