.messageIcon {
    position: relative;
}

.unreadMessagesNumber {
    position: relative;
    background: red;
    width: 8px;
    height: 8px;
    font-size: 8px;
    color: white;
    float: right;
    right: 9px;
    top: 6px;
    line-height: 100%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    border-radius: 1px;
}
.loaderContainer {
    margin-bottom: 10px;
    text-align: center;
    display: none;
}

.wrLoader {
    display: inline-block;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (min-width: 1200px) {
    .container, .container-fluid {
        max-width: 80%;
        margin: auto;
    }
}

.dateTitle h2 {
    line-height: 100%;
}

.dateChooserArrow {
    margin: 16px;
    color: #222222;
}
.dateChooserArrow:hover {
    color: #666666;
}

.pageContent {
    display: none;
}

.pageContent table {
    width: 100%;
    table-layout: fixed;
}

.pageContent table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contentDisabled {
    pointer-events: none;
    opacity: 0.4;
}

.modalButtonsContainer {
    text-align: center;
}

.modalError {
    display: none;
}


.crudTableHeader {
    font-weight: bold;
}

.crudTableActionButtonsContainer {
    float: right;
}

.crudButtonsContainer  {
    padding-left: 20px;
    padding-right: 20px;
}

.crudButtons button{
    display: block;
}

.verticalButtonsContainer button {
    display: block;
}

.crudButton {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 160px;
}

.crudPagination {
    float: right;
}

.crudPagination ul {
    margin-top: 12px;
}

.modalList {
    height: 260px;
    overflow-y: auto;
}

.modalListSmall {
    height: 130px;
    overflow-y: auto;
}

.vresize {
    resize: vertical;
}

.modalListItem {
    margin: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
}

.modalListItemText {
    overflow: hidden;
    text-overflow: ellipsis;
}

.inputOk {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #3c763d;
}

.inputWrong {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}