.dateTitle {
    text-align: center;
    margin-bottom: 30px;
}

.dateChooserDropdown {
    width: 100%;
    margin: auto;
}

.chooseDateButton {
    width: 100%;
}
.dateChooser {
    margin-bottom: 30px;
}

.dateChooserDropdownScrollPane {
    height: 300px;
    overflow-y: scroll;
}

.numberInput {
    width: 80px;
    display: inline;
    padding: 4px;
    text-align: center;
}

.inputHint {
    margin: 6px;
}