<div class="col-sm-9">
    <div id="solutionTeams" class="solutionContent">
        <div class="panel panel-default">
            <table id="projectsCrudTable" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Zespół</th>
                    <th>Lider</th>
                    <th>Data utworzenia</th>
                    <th>Ostatnia edycja</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="team in currentPage">
                    <td><input type="checkbox" ng-checked="isMarked(team.id)" ng-click="crudItemCheckboxAction(team.id)"/></td>
                    <td>{{team.name}}</td>
                    <td>{{team.leaderName}}</td>
                    <td>{{parseDateTimestamp(team.creationDate)}}</td>
                    <td>{{parseDateTimestamp(team.lastEditionDate)}}</td>
                    <td>
                        <div class="crudTableActionButtonsContainer">
                            <a href="#" data-toggle="modal" data-target="#editTeamModal" ng-click="setCurrentTeam(team.id); editTeamModalOpen()"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-toggle="modal" data-target="#deleteTeamModal" ng-click="setCurrentTeam(team.id)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row crudButtonsContainer">
            <div class="col-xs-6">
                <div class="crudButtons">
                    <button type="button" class="btn btn-primary crudButton" data-toggle="modal" data-target="#addTeamModal" ng-click="addTeamModalOpen()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Dodaj zespol
                    </button>
                    <button id="deleteSelected" type="button" class="btn btn-danger crudButton" data-target="#deleteSelectedTeamsModal" ng-click="deleteSelectedTeamsModalOpen()">Usun zaznaczone</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="crudPagination">
                    <ul id="solutionTeamsCrudPagination" class="pagination">
                        <li id="prevPage"><a href="#" ng-click="prevPage()">prev</a></li>
                        <li ng-repeat="page in pagination" id="page{{page}}"><a href="#" ng-click="setPage(page)">{{page}}</a></li>
                        <li id="nextPage"><a href="#" ng-click="nextPage()">next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>