<div id="solutionTeams" class="panel panel-default solutionContent">
    <table class="table table-striped">
        <thead class="crudTableHeader">
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol</td>
            <td>Lider</td>
            <td></td>
        </tr>
        </thead>
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol 1</td>
            <td>John Doe</td>
            <td>
                <div class="crudTableActionButtonsContainer">
                    <a href="#" data-toggle="modal" data-target="#editTeamModal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" data-toggle="modal" data-target="#deleteTeamModal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol 1</td>
            <td>John Doe</td>
            <td>
                <div class="crudTableActionButtonsContainer">
                    <a href="#" data-toggle="modal" data-target="#editTeamModal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" data-toggle="modal" data-target="#deleteTeamModal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol 1</td>
            <td>John Doe</td>
            <td>
                <div class="crudTableActionButtonsContainer">
                    <a href="#" data-toggle="modal" data-target="#editTeamModal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" data-toggle="modal" data-target="#deleteTeamModal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol 1</td>
            <td>John Doe</td>
            <td>
                <div class="crudTableActionButtonsContainer">
                    <a href="#" data-toggle="modal" data-target="#editTeamModal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" data-toggle="modal" data-target="#deleteTeamModal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol 1</td>
            <td>John Doe</td>
            <td>
                <div class="crudTableActionButtonsContainer">
                    <a href="#" data-toggle="modal" data-target="#editTeamModal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" data-toggle="modal" data-target="#deleteTeamModal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox"/></td>
            <td>Zespol 1</td>
            <td>John Doe</td>
            <td>
                <div class="crudTableActionButtonsContainer">
                    <a href="#" data-toggle="modal" data-target="#editTeamModal"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" data-toggle="modal" data-target="#deleteTeamModal"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </td>
        </tr>
    </table>

</div>