<div class="col-sm-9">
    <div id="solutionProjects" class="solutionContent">
        <div class="panel panel-default">
            <table id="projectsCrudTable" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Projekt</th>
                    <th>Opis</th>
                    <th>Data utworzenia</th>
                    <th>Ostatnia edycja</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="project in currentPage">
                    <td><input type="checkbox" ng-checked="isMarked(project.id)" ng-click="crudItemCheckboxAction(project.id)"/></td>
                    <td>{{project.name}}</td>
                    <td>{{project.description}}</td>
                    <td>{{parseDateTimestamp(project.creationDate)}}</td>
                    <td>{{parseDateTimestamp(project.lastEditionDate)}}</td>
                    <td>
                        <div class="crudTableActionButtonsContainer">
                            <a href="#" data-toggle="modal" data-target="#editProjectModal" ng-click="setCurrentProject(project.id); editProjectModalOpen()"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-toggle="modal" data-target="#deleteProjectModal" ng-click="setCurrentProject(project.id)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row crudButtonsContainer">
            <div class="col-xs-6">
                <div class="crudButtons">
                    <button type="button" class="btn btn-primary crudButton" data-toggle="modal" data-target="#addProjectModal" ng-click="addProjectModalOpen()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Dodaj zespol
                    </button>
                    <button id="deleteSelected" type="button" class="btn btn-danger crudButton" data-target="#deleteSelectedProjectsModal" ng-click="deleteSelectedProjectsModalOpen()">Usun zaznaczone</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="crudPagination">
                   <ul id="solutionProjectsCrudPagination" class="pagination">
                       <li id="prevPage"><a href="#" ng-click="prevPage()">prev</a></li>
                       <li ng-repeat="page in pagination" id="page{{page}}"><a href="#" ng-click="setPage(page)">{{page}}</a></li>
                       <li id="nextPage"><a href="#" ng-click="nextPage()">next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>