<div class="row solutionChooserContainer">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="row">
            <div class="chooseSolutionContainer">
                <h2>{{currentSolution.name}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <div class="dropdown chooseSolutionSelect">
                    <button class="btn btn-primary dropdown-toggle chooseSolutionButton" type="button" data-toggle="dropdown">Wybierz firme
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="(id, name) in solutionChooserData.managedSolutions">
                            <a ng-click="setCurrentSolution(id)" id="{{id}}" class="solutionOption" href="#">{{name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>