<div class="col-sm-9">
    <div id="solutionPositions" class="pageContent">
        <div class="panel panel-default">
            <table id="positionsCrudTable" class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 5%"></th>
                    <th style="width: 38%">Stanowisko</th>
                    <th style="width: 25%">Data utworzenia</th>
                    <th style="width: 25%">Ostatnia edycja</th>
                    <th style="width: 7%"></th>
                </tr>
                </thead>
                <tr ng-repeat="position in currentPage">
                    <td style="width: 5%"><input type="checkbox" ng-checked="isMarked(position.id)" ng-click="crudItemCheckboxAction(position.id)"/></td>
                    <td style="width: 30%">{{position.name}}</td>
                    <td style="width: 25%">{{parseDateTimestamp(position.creationDate)}}</td>
                    <td style="width: 25%">{{parseDateTimestamp(position.lastEditionDate)}}</td>
                    <td style="width: 7%">
                        <div class="crudTableActionButtonsContainer">
                            <a href="#" data-toggle="modal" data-target="#editPositionModal" ng-click="setCurrentPosition(position.id); editPositionModalOpen()"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" data-toggle="modal" data-target="#deletePositionModal" ng-click="setCurrentPosition(position.id)"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row crudButtonsContainer">
            <div class="col-xs-6">
                <div class="crudButtons">
                    <button type="button" class="btn btn-primary crudButton" data-toggle="modal" data-target="#addPositionModal" ng-click="addPositionModalOpen()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Dodaj stanowisko
                    </button>
                    <button id="deleteSelected" type="button" class="btn btn-danger crudButton" data-target="#deleteSelectedPositionsModal" ng-click="deleteSelectedPositionsModalOpen()">Usuń zaznaczone</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="crudPagination">
                    <ul id="solutionPositionsCrudPagination" class="pagination">
                        <li id="prevPage"><a href="#" ng-click="prevPage()">prev</a></li>
                        <li ng-repeat="page in pagination" id="page{{page}}"><a href="#" ng-click="setPage(page)">{{page}}</a></li>
                        <li id="nextPage"><a href="#" ng-click="nextPage()">next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>