<div class="col-sm-3">
    <div class="panel panel-default">
        <ul class="list-group solutionMenu">
            <a ng-click="setCurrentSolution(currentSolution.id)" href="#"><li id="solutionMenuInfo" class="list-group-item solutionMenuItemActive"><span class="glyphicon glyphicon-info-sign"></span><span class="solutionMenuItemName">Informacje</span></li></a>
            <a ng-click="activeSolutionProjectsContent()" href="#"><li id="solutionMenuProjects" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span><span class="solutionMenuItemName">Projekty</span></li></a>
            <a ng-click="activeSolutionPositionsContent()" href="#"><li id="solutionMenuPositions" class="list-group-item"><span class="glyphicon glyphicon-briefcase"></span><span class="solutionMenuItemName">Stanowiska</span></li></a>
            <a ng-click="activeSolutionTeamsContent()" href="#"><li id="solutionMenuTeams" class="list-group-item"><span class="glyphicon fa fa-users"></span><span class="solutionMenuItemName">Zespoly</span></li></a>
            <a ng-click="activeSolutionEmployeesContent()" href="#"><li id="solutionMenuEmployees" class="list-group-item"><span class="glyphicon glyphicon-user"></span><span class="solutionMenuItemName">Pracownicy</span></li></a>
        </ul>
    </div>
</div>