.message {
    margin-bottom: 4px;
}

.messagesHeader {
    text-align: center;
}

.messageBody {

}

.messageHeader {
    cursor: pointer;
}

.messageHeaderTitle {
    font-weight: bold;
}

.messageHeaderSender {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messageHeaderContainer {
    height:30px;
}

.messageHeaderDateContainer {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
}

.messageHeaderDate {
    font-weight: bold;
    width: 100%;
}

.messageTextReceivers {
    padding: 16px;
    white-space: initial;
    word-wrap: break-word;
    font-size: 12px;
}

.messageText {
    padding: 30px;
    white-space: initial;
    word-wrap: break-word;
}

.messageButtons {
    padding-left: 30px;
}