<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">WorkReporter</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="solution">Zarzadzanie firma</a></li>
            <li><a href="team">Zarzadzanie zespolem</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="messages">
                    <div class="messageIcon">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </div>
                </a>
            </li>
            <li><a href="user"><span class="glyphicon glyphicon-user"></span> ${userDetails.getFirstName()} ${userDetails.getLastName()}</a></li>
            <li><a href="./logout"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
        </ul>
    </div>
</nav>