<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div id="reportingCrud" class="pageContent">
            <div class="panel panel-default">
                <table id="reportingCrudTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th style="width: 5%"></th>
                        <th style="width: 15%">Godzina rozpoczęcia</th>
                        <th style="width: 10%">Liczba godzin</th>
                        <th style="width: 10%">Rodzaj pracy</th>
                        <th style="width: 40%">Projekt</th>
                        <th style="width: 15%">Status</th>
                        <th style="width: 5%"></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="entry in currentEntries">
                        <td style="width: 5%"><input type="checkbox" ng-checked="isMarked(position.id)" ng-click="crudItemCheckboxAction(position.id)"/></td>
                        <td style="width: 15%">{{entry.startHour}}</td>
                        <td style="width: 10%">{{entry.loggedHours}}</td>
                        <td style="width: 10%">{{entry.logTypeName}}</td>
                        <td style="width: 40%">{{entry.projectName}}</td>
                        <td style="width: 15%"><span class="{{getStatusClass(entry.status)}}">{{getStatusName(entry.status)}}</span></td>
                        <td style="width: 5%">
                            <div class="crudTableActionButtonsContainer">
                                <a href="#" data-toggle="modal" data-target="#editPositionModal" ng-click="setCurrentPosition(position.id); editPositionModalOpen()"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="#" data-toggle="modal" data-target="#deletePositionModal" ng-click="setCurrentPosition(position.id)"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row crudButtonsContainer">
                <div class="col-xs-6">
                    <div class="crudButtons">
                        <button type="button" class="btn btn-primary crudButton" data-target="#addLogEntryModal" ng-click="addLogEntryModalOpen()">
                            <span class="glyphicon glyphicon-plus"></span>
                            Dodaj zespol
                        </button>
                        <button id="deleteSelected" type="button" class="btn btn-danger crudButton" data-target="#deleteSelectedLogEntriesModal" ng-click="deleteSelectedLogEntriesModalOpen()">Usun zaznaczone</button>
                    </div>
                </div>
                <div class="col-xs-6">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>