<div class="row">
    <div class="userDataTitle">
        <h2>Dane użytkownika</h2>
    </div>
</div>
<div id="userData" class="row pageContent">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <ul class="nav nav-tabs nav-justified userDataNavBar">
                <li id="personalDataTab" class="dataTab"><a href="#" ng-click="activePersonalData()">Dane personalne</a></li>
                <li id="accountDataTab" class="dataTab"><a href="#" ng-click="activeAccountData()">Dane logowania</a></li>
                <li id="employmentDataTab" class="dataTab"><a href="#" ng-click="activeEmploymentData()">Dane pracownicze</a></li>
            </ul>
            <div id="userPersonalData" class="panel-body userData">
                <form class="userDataForm" action="#" method="post">
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataFirstName">Imię</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <div id="userDataFirstName" class="userDataRowValueText">{{userData.personalData.firstName}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataLastName">Nazwisko</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <div id="userDataLastName" class="userDataRowValueText">{{userData.personalData.lastName}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataBirthday">Data urodzenia</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <input id="userDataBirthday" class="form-control userDataRowValueText" type="text" value="{{parseDateTimestamp(userData.personalData.birthday)}}">
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataPhone">Telefon</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <input id="userDataPhone" class="form-control userDataRowValueText" type="text" value="{{userData.personalData.phone}}">
                        </div>
                    </div>
                </form>
            </div>
            <div id="userAccountData" class="panel-body userData">
                <form class="userDataForm" action="#" method="post">
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataLogin">Login</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <div id="userDataLogin" class="userDataRowValueText">{{userData.account.login}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataEmail">Email</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <div id="userDataEmail" class="userDataRowValueText">{{userData.account.email}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataPassword">Obecne hasło</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <input id="userDataPassword" class="form-control userDataRowValueText" type="password">
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataNewPassword">Nowe hasło</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <input id="userDataNewPassword" class="form-control userDataRowValueText" type="password">
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataRepeatPassword">Powtórz hasło</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <input id="userDataRepeatPassword" class="form-control userDataRowValueText" type="password">
                        </div>
                    </div>

                    <div id="userAccountDataRepeatPasswordError" class="alert alert-danger modalError">
                        Podane hasła nie są identyczne!
                    </div>
                    <div id="userAccountDataExistingPasswordError" class="alert alert-danger modalError">
                        Nieprawidłowe obecne hasło!
                    </div>
                    <div id="userAccountDataNewPasswordError" class="alert alert-danger modalError">
                        Nieprawidłowe nowe hasło!
                    </div>
                    <div id="userAccountDataUnknownError" class="alert alert-danger modalError">
                        Wystąpił błąd podczas zmiany hasła!
                    </div>
                    <div id="userAccountDataSuccess" class="alert alert-success modalError">
                        Hasło zostało zmienione.
                    </div>
                </form>
            </div>
            <div id="userEmploymentData" class="panel-body userData">
                <form class="userDataForm" action="#" method="post">
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataSolutionName">Nazwa firmy</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue" >
                            <div id="userDataSolutionName" class="userDataRowValueText">{{currentSolution.name}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataTeamName">Nazwa zespołu</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue">
                            <div id="userDataTeamName" class="userDataRowValueText">{{userData.team.name}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataPositionName">Nazwa stanowiska</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue">
                            <div id="userDataPositionName" class="userDataRowValueText">{{userData.position.name}}</div>
                        </div>
                    </div>
                    <div class="row form-group userDataRow">
                        <div class="col-sm-4 userDataRowLabel">
                            <label for="userDataWorkingTime">Wymiar etatu</label>
                        </div>
                        <div class="col-sm-8 userDataRowValue">
                            <div id="userDataWorkingTime" class="userDataRowValueText">{{userData.workingTime}}</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="buttonsContainer">
                    <button id="saveUserData" type="button" class="btn btn-default" ng-click="saveUserData()">Zapisz</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>