<div id="messagesMainContainer" class="row pageContent">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <div class="panel panel-default">
            <ul class="nav nav-tabs nav-justified">
                <li id="receivedMessagesTab" class="dataTab"><a href="#" ng-click="activeReceivedMessagesContent()">Odebrane</a></li>
                <li id="sentMessagesTab" class="dataTab"><a href="#" ng-click="activeSentMessagesContent()">Wysłane</a></li>
            </ul>
            <div class="panel-body messagesPane">
                <%@ include file="receivedMessages.html"%>
                <%@ include file="sentMessages.html"%>
            </div>
            <div class="panel-footer messagesButtons">
                <div class="row">
                    <div class="col-xs-6">
                        <button data-target="#newMessageModal" id="newMessage" type="button" class="btn btn-default messagesNewMessageButton" ng-click="newMessageModalOpen()">Nowa wiadomość</button>
                    </div>
                    <div class="col-xs-6">
                        <div class="crudPagination">
                            <ul id="messagesCrudPagination" class="pagination">
                                <li id="prevPage"><a href="#" ng-click="prevPage()">prev</a></li>
                                <li ng-repeat="page in pagination" id="page{{page}}"><a href="#" ng-click="setPage(page)">{{page}}</a></li>
                                <li id="nextPage"><a href="#" ng-click="nextPage()">next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>