<div id="newMessageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nowa wiadomość</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form name="newMessage" action="#" method="post">
                            <div class="form-group">
                                <label for="currentReceivers">Odbiorcy:</label>
                                <div id="currentReceivers" class="panel panel-default modalListSmall">
                                    <div class="alert alert-info modalListItem" ng-repeat="receiver in currentReceivers">
                                        <div class="col-xs-11 modalListItemText">
                                            <span>{{receiver.personalData.firstName}} {{receiver.personalData.lastName}} ({{receiver.account.email}})</span>
                                        </div>
                                        <div class="col-xs-1">
                                            <a href="#" ng-click="removeReceiver(receiver.id)"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newMessageModalReceiversInput">Wybierz odbiorców:</label>
                                <select id="newMessageModalReceiversInput" class="form-control">
                                    <option ng-repeat="receiver in currentAvailableReceivers" value="{{receiver.id}}">
                                        {{receiver.personalData.firstName}} {{receiver.personalData.lastName}} ({{receiver.account.email}})
                                    </option>
                                </select>
                            </div>
                            <div class="modalButtonsContainer">
                                <button type="button" class="btn btn-default" ng-click="addReceiver()">Dodaj</button>
                            </div>
                            <div class="form-group">
                                <label for="messageTitle">Tytuł:</label>
                                <input id="messageTitle" type="text" class="form-control" value="{{responseTitle}}">
                                <label for="messageContent">Treść:</label>
                                <textarea class="form-control vresize" rows="4" id="messageContent"></textarea>
                            </div>
                        </form>
                        <div id="newMessageModalInvalidTitleError" class="alert alert-danger modalError">
                            Nieprawidłowy tytuł!
                        </div>
                        <div id="newMessageModalInvalidContentError" class="alert alert-danger modalError">
                            Nieprawidłowa treść wiadomości!
                        </div>
                        <div id="newMessageModalNoReceiversError" class="alert alert-danger modalError">
                            Musisz wybrać odbiorców wiadomości!
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="modalButtonsContainer">
                    <button id="newMessageModalSend" type="button" class="btn btn-default" ng-click="sendMessage()">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</div>